body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    background: #FEFEFE;
    height: 100%;
    }
    
    html{
        
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      scroll-behavior: smooth;
      
    }